body {
  font-family: "Roboto", sans-serif;
  width: 1480px;
  height: 1282px;
}
li {
  list-style-type: none;
}
.container {
  width: 1280px;
  margin: 63px auto 30px;
}
.header-container {
  margin-bottom: 49px;
}
.logo {
  font-size: 80px;
  line-height: 94px;
  text-decoration: none;
  color: black;
  display: block;
  margin-bottom: 40px;
}
.logo span {
  color: #4bcaff;
}
.nav-menu {
  background-color: #35444f;
}
.nav-menu a {
  display: flex;
  height: 100%;
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  border-right: 1px solid #ffffff;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

/* .nav-menu li {
  height: 100%;
  
  display: flex;

} */
.nav-menu li:hover {
  background-color: #222f3a;
}
.nav-menu-list {
  width: 1280px;
  height: 69px;
  display: flex;
  justify-content: center;
}
.nav-menu-item {
  border-left: 1px solid #ffffff;
}
.aside-menu-container {
  box-sizing: border-box;
  border: 1px solid #000000;
  width: 344px;
  height: 399px;
}
.aside-menu-list {
  width: 344px;
  height: 399px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.aside-menu-link {
  height: 81px;
  width: 342px;
  font-size: 27px;
  color: #485863;
  text-decoration: none;
  margin-left: 44px;
  display: flex;
  align-items: center;
}


.aside-menu-link:hover {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #dbdbdb;
  width: 341px;
  height: 76px;
  overflow: hidden;
}
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 54px 0;
}

.aside-menu-item {
  font-weight: 400;
}
.image-article {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 885px;
  height: 529px;
  margin-bottom: 32px;
}
.image-article img:hover {
  width: 325px;
  height: 385px;
}

.article-text {
  font-size: 18px;
  color: #2c2c2c;
  line-height: 24px;
}
.text-first {
  margin: 0 0 30px 0;
}

.article {
  width: 885px;
}

.footer-menu-container {
  height: 69px;
  background-color: rgba(99, 105, 110, 0.48);
  padding: 0 40px;
}

.footer-menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-menu-list {
  width: 875px;
  height: 28px;
  display: flex;
  justify-content: space-between;
}

.footer-menu-link {
  text-decoration: none;
  font-size: 28px;
  color: #0c1927;
}
.footer-menu-container p {
  font-size: 24px;
  color: #010101;
}
.footer-menu-link:hover {
color: #3181A6;
line-height: 28px;
}
.footer-menu-item {
height: 41px;
}
.footer-menu-item:hover {
  border-bottom: 1px solid #3181A6;;
}
.change-theme {
  box-sizing: border-box;
  margin-bottom: 30px;
  font-size: 18px;
  padding: 10px;
  background-color:#0a0a23;
  color: #fff;
  border:none;
  border-radius:10px;

}
body.dark {
background-color: #35444f;
}

body.dark .footer-menu-link, body.dark p, body.dark .aside-menu-link, body.dark .logo{
  color: #fff;
}
body.dark .nav-menu{
  background-color: #fff;
}
body.dark .nav-menu a{
  color: #35444f;
  border-right: 1px solid #35444f;
}
body.dark .nav-menu-item {
  border-left: 1px solid #35444f;
}
body.dark .aside-menu-container, body.dark .image-article {
  border: 1px solid #fff;
}
body.dark .change-theme{
  background-color:#fff;
  color:#0a0a23 ;
}